<%= simple_form_for :search, url: fiverr_orders_path , method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= label_tag("Tipo Orden") %>
    <%= collection_select(:order_type, :order_type_id, OrderType.all, :id, :name,{:selected => @order_type_value,:include_blank=>true}) %>
    <%= label_tag("Orden Estado") %>
    <%= collection_select(:order_status, :order_status_id, OrderStatus.all, :id, :name,{:selected => @order_status_value,:include_blank=>true}) %>
    <%= label_tag("Servidor") %>
    <%= collection_select(:server, :server_id, Server.all, :id, :name,{:selected => @server_value,:include_blank=>true}) %>
    <%= label_tag("Trafico") %>
    <%= collection_select(:site_traffic_status, :site_traffic_status_id, ExtrasStatus.all, :id, :name,{:selected => @traffic_value,:include_blank=>true}) %>
    <%= label_tag("Site Audit") %>
    <%= collection_select(:site_audit_status, :site_audit_status_id, ExtrasStatus.all, :id, :name,{:selected => @site_audit_value,:include_blank=>true}) %>
    <%= label_tag("RankTracker") %>
    <%= select_tag(:rank_tracker, options_for_select({ "No" => 0, "Si" => 1},@rank_tracker_filter_status)) %>
    <%= label_tag("No. Orden") %>
    <%= text_field_tag(:order_no) %>
    <%= f.submit FiverrOrdersController::SEARCH_ACTIONS[:SEARCH_BY_FILTER] , class: "btn btn-primary"%>
<% end %>
<!-- List group -->

<h4> <%= @fiverr_orders.count %> resultados</h4>
<div class="list-group" id="fiverrOrdersList" role="tablist">
  <!--Crear una fila para poner botones de organizacion de la informacion mostrada-->
  <div class="row">
    <!--Columna vacia para alinear con el resto de la informacion mostrada-->
    <div class="col-md-1" style="width:25px">
    </div>
    <!--No. Orden-->
    <div class="col-md-1" style="width:100px">
      <a class="btn btn-primary" href="/fiverr_orders?utf8=✓&order_type[order_type_id]=<%=@order_type_value%>&order_status[order_status_id]=<%=@order_status_value%>&server[server_id]=<%=@server_value%>&site_traffic_status[site_traffic_status_id]=<%=@traffic_value%>&site_audit_status[site_audit_status_id]=<%=@site_audit_value%>&order_no=<%=%>&commit=NoOrden" role="button">No. Orden</a>
    </div>
    <!--Usuario-->
    <div class="col-md-1" style="width:100px">
      <a class="btn btn-primary" href="/fiverr_orders?utf8=✓&order_type[order_type_id]=<%=@order_type_value%>&order_status[order_status_id]=<%=@order_status_value%>&server[server_id]=<%=@server_value%>&site_traffic_status[site_traffic_status_id]=<%=@traffic_value%>&site_audit_status[site_audit_status_id]=<%=@site_audit_value%>&order_no=<%=%>&commit=Username" role="button">Username</a>
    </div>
    <!--Fecha Venc-->
    <div class="col-md-1" style="width:100px">
      <a class="btn btn-primary" href="/fiverr_orders?utf8=✓&order_type[order_type_id]=<%=@order_type_value%>&order_status[order_status_id]=<%=@order_status_value%>&server[server_id]=<%=@server_value%>&site_traffic_status[site_traffic_status_id]=<%=@traffic_value%>&site_audit_status[site_audit_status_id]=<%=@site_audit_value%>&order_no=<%=%>&commit=Fecha" role="button">Fecha</a>
    </div>
    <!--Tipo Orden-->
    <div class="col-md-1" style="width:100px">
      <a class="btn btn-primary" href="/fiverr_orders?utf8=✓&order_type[order_type_id]=<%=@order_type_value%>&order_status[order_status_id]=<%=@order_status_value%>&server[server_id]=<%=@server_value%>&site_traffic_status[site_traffic_status_id]=<%=@traffic_value%>&site_audit_status[site_audit_status_id]=<%=@site_audit_value%>&order_no=<%=%>&commit=TipoOrden" role="button">Tipo Orden</a>
    </div>
    <!--Estado ORden-->
    <div class="col-md-1" style="width:100px">
      <a class="btn btn-primary" href="/fiverr_orders?utf8=✓&order_type[order_type_id]=<%=@order_type_value%>&order_status[order_status_id]=<%=@order_status_value%>&server[server_id]=<%=@server_value%>&site_traffic_status[site_traffic_status_id]=<%=@traffic_value%>&site_audit_status[site_audit_status_id]=<%=@site_audit_value%>&order_no=<%=%>&commit=EstadoOrden" role="button">Estado Orden</a>
    </div>
  </div>
    <% @fiverr_orders.each do |order| %>
      <!--Crear una fila para poner la info referente a la orden-->
      <div class="row">
        <!-- En la segunda columna pondre links para ir a fiverr o otros lugares que se me ocurra -->
        <div class="col-md-1" style="width:25px">
          <a href="https://www.fiverr.com/users/blboss/manage_orders/<%=order.order_no%>">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </a>
        </div>
        <!--Va a tener 2 columnas en la primera estara info de la orden y si damos click podemos editar la orden en la bd-->
        <div class="col-md-10" style="width:1000px">
          <!--Aqui en la coletilla del HREF pongo los parametros que estan actualmente en el filtro. Esto lo hago porque despues que de update pues regresaria y aplicaria el mismo filtro que estaba.-->
          <a class="list-group-item list-group-item-action" data-toggle="list" href="<%= edit_fiverr_order_path(order.id)%>?utf8=✓&order_type[order_type_id]=<%=@order_type_value%>&order_status[order_status_id]=<%=@order_status_value%>&server[server_id]=<%=@server_value%>&site_traffic_status[site_traffic_status_id]=<%=@traffic_value%>&site_audit_status[site_audit_status_id]=<%=@site_audit_value%>&rank_tracker=1&order_no=<%=%>&commit=Search" role="tab" style="padding-top: <%=@top_padding%>;padding-bottom: <%=@bottom_padding%>;padding-right: <%=@right_padding%>;padding-left: <%=@left_padding%>;"><%= order.order_no %> | <%= order.username %>| <%=order.due_date.strftime("%d/%m/%Y")%> | <%=@order_types_list.find(order.order_type_id).name%>| <%=@order_statuses_list.find(order.order_status_id).name%></a>
        </div>
        <!-- En la tercera columna pondre links para ir a conversaciones -->
        <div class="col-md-1" style="width:25px">
          <a href="https://www.fiverr.com/inbox/<%=order.username%>">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    <% end %>
</div>
