<div class="row">
  <div class="col-md-4">
    <h3>Resumen PR9 Basico</h3>
    <h4>Estado de la Orden</h4>
    <% @basic_stats.each do |basic_stat| %>
    <!--En el controlador se hace un agrupamiento por estados de ordenes y despues un
    conteo de los mismos. Accediendo al [0] de la respuesta obtenemos el order_status_id
    correspondiente.-->
    <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=<%= @basic_type_id %>&order_status%5Border_status_id%5D=<%= basic_stat[0] %>&server%5Bserver_id%5D=&order_no=&commit=Search"><%= OrderStatus.find(basic_stat[0]).name%>  <%= basic_stat[1]%></a><br>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3>Resumen PR9 Standard</h3>
    <h4>Estado de la Orden</h4>
    <% @std_stats.each do |std_stat| %>
    <!--En el controlador se hace un agrupamiento por estados de ordenes y despues un
    conteo de los mismos. Accediendo al [0] de la respuesta obtenemos el order_status_id
    correspondiente.-->
    <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=<%= @std_type_id %>&order_status%5Border_status_id%5D=<%= std_stat[0] %>&server%5Bserver_id%5D=&order_no=&commit=Search"><%= OrderStatus.find(std_stat[0]).name%>  <%= std_stat[1]%></a><br>
    <% end %>
  </div>
  <div class="col-md-4">
    <h3>Resumen PR9 Premium</h3>
    <h4>Estado de la Orden</h4>
    <% @prem_stats.each do |prem_stat| %>
    <!--En el controlador se hace un agrupamiento por estados de ordenes y despues un
    conteo de los mismos. Accediendo al [0] de la respuesta obtenemos el order_status_id
    correspondiente.-->
    <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=<%= @prem_type_id %>&order_status%5Border_status_id%5D=<%= prem_stat[0] %>&server%5Bserver_id%5D=&order_no=&commit=Search"><%= OrderStatus.find(prem_stat[0]).name%>  <%= prem_stat[1]%></a><br>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="row-md-6">
      <h4>Site Audit Estado</h4>
      <% @basic_site_audit_stats.each do |basic_site_audit_stat| %>
      <!--En el controlador se hace un agrupamiento por estados de ordenes y despues un
      conteo de los mismos. Accediendo al [0] de la respuesta obtenemos el order_status_id
      correspondiente.-->
      <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=<%= @basic_type_id %>&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&site_traffic_status%5Bsite_traffic_status_id%5D=&site_audit_status%5Bsite_audit_status_id%5D=<%=basic_site_audit_stat[0]%>&order_no=&commit=Search"><%=ExtrasStatus.find(basic_site_audit_stat[0]).name%> <%= basic_site_audit_stat[1]%></a><br>
      <% end %>
    </div>
    <div class="row-md-6">
      <h4>Trafico Estado</h4>
      <% @basic_traffic_order_stats.each do |basic_traffic_order_stat| %>
      <!--En el controlador se hace un agrupamiento por estados de ordenes y despues un
      conteo de los mismos. Accediendo al [0] de la respuesta obtenemos el order_status_id
      correspondiente.-->
      <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=<%=@basic_type_id%>&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&site_traffic_status%5Bsite_traffic_status_id%5D=<%=basic_traffic_order_stat[0]%>&site_audit_status%5Bsite_audit_status_id%5D=&order_no=&commit=Search"><%=ExtrasStatus.find(basic_traffic_order_stat[0]).name%> <%= basic_traffic_order_stat[1]%></a><br>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row-md-6">
      <h4>Site Audit Estado</h4>
      <% @std_site_audit_stats.each do |std_site_audit_stat| %>
      <!--En el controlador se hace un agrupamiento por estados de ordenes y despues un
      conteo de los mismos. Accediendo al [0] de la respuesta obtenemos el order_status_id
      correspondiente.-->
      <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=<%= @std_type_id %>&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&site_traffic_status%5Bsite_traffic_status_id%5D=&site_audit_status%5Bsite_audit_status_id%5D=<%=std_site_audit_stat[0]%>&order_no=&commit=Search"><%=ExtrasStatus.find(std_site_audit_stat[0]).name%> <%= std_site_audit_stat[1]%></a><br>
      <% end %>
    </div>
    <div class="row-md-6">
      <h4>Trafico Estado</h4>
      <% @std_traffic_order_stats.each do |std_traffic_order_stat| %>
      <!--En el controlador se hace un agrupamiento por estados de ordenes y despues un
      conteo de los mismos. Accediendo al [0] de la respuesta obtenemos el order_status_id
      correspondiente.-->
      <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=<%=@std_type_id%>&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&site_traffic_status%5Bsite_traffic_status_id%5D=<%=std_traffic_order_stat[0]%>&site_audit_status%5Bsite_audit_status_id%5D=&order_no=&commit=Search"><%=ExtrasStatus.find(std_traffic_order_stat[0]).name%> <%= std_traffic_order_stat[1]%></a><br>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row-md-6">
      <h4>Site Audit Estado</h4>
      <% @prem_site_audit_stats.each do |prem_site_audit_stat| %>
      <!--En el controlador se hace un agrupamiento por estados de ordenes y despues un
      conteo de los mismos. Accediendo al [0] de la respuesta obtenemos el order_status_id
      correspondiente.-->
      <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=<%= @prem_type_id %>&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&site_traffic_status%5Bsite_traffic_status_id%5D=&site_audit_status%5Bsite_audit_status_id%5D=<%=prem_site_audit_stat[0]%>&order_no=&commit=Search"><%=ExtrasStatus.find(prem_site_audit_stat[0]).name%> <%= prem_site_audit_stat[1]%></a><br>
      <% end %>
    </div>
    <div class="row-md-6">
      <h4>Trafico Estado</h4>
      <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=3&order_status%5Border_status_id%5D=4&server%5Bserver_id%5D=&site_traffic_status%5Bsite_traffic_status_id%5D=1&site_audit_status%5Bsite_audit_status_id%5D=&order_no=&commit=Search">Listo para hacer</a><br>
      <% @prem_traffic_order_stats.each do |prem_traffic_order_stat| %>
      <!--En el controlador se hace un agrupamiento por estados de ordenes y despues un
      conteo de los mismos. Accediendo al [0] de la respuesta obtenemos el order_status_id
      correspondiente.-->
      <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=<%=@prem_type_id%>&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&site_traffic_status%5Bsite_traffic_status_id%5D=<%=prem_traffic_order_stat[0]%>&site_audit_status%5Bsite_audit_status_id%5D=&order_no=&commit=Search"><%=ExtrasStatus.find(prem_traffic_order_stat[0]).name%> <%= prem_traffic_order_stat[1]%></a><br>
      <% end %>
    </div>
    <div class="row-md-6">
      <h4>RankTracker Estado</h4>
      <a href="/fiverr_orders?utf8=%E2%9C%93&order_type%5Border_type_id%5D=3&order_status%5Border_status_id%5D=6&server%5Bserver_id%5D=&site_traffic_status%5Bsite_traffic_status_id%5D=&site_audit_status%5Bsite_audit_status_id%5D=&rank_tracker=0&order_no=&commit=Search">Listo para hacer</a><br>
    </div>
  </div>

</div>
