<!DOCTYPE html>
<html>
  <head>
    <title>Controlito</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Aqui hemos añadido el div container para que lo que venga aqui adentro se aplique bootstrap-->
    <div class="container-fluid" style="border:1px solid #cecece;">
      <div class="row">
        <div class="col-md-2">
          <h2>Controlito</h2>
        </div>
        <div class="col-md-9">
        </div>
        <div class="col-md-1 align-self-end">
          <%= link_to "Log Out","/log_out"%>
        </div>
      </div>

      <!--AQUI VAN TODAS LAS OPCIONES DEL MENU DE LA IZQUIERDA-->
      <div class="row">
        <div class="col-md-2">
          <!--CREAR ORDEN NUEVA-->
          <h4>CREAR ORDEN</h4>
          <a href="/fiverr_orders/new">Nueva Orden</a><br>
          <a href="/fiverr_orders">Todas</a><br><br>

          <%= simple_form_for :search, url: fiverr_orders_path , method: "GET", html: { class: 'form-inline' } do |f| %>
          <%= label_tag("Busqueda General Integral ;)") %>
          <%= text_field_tag(:order_no) %>
          <%= f.submit FiverrOrdersController::SEARCH_ACTIONS[:FULL_SEARCH] , class: "btn btn-primary"%>
          <% end %><br>

          <!--REFERENTE A PR9-->
          <h4>GIG PR9</h4>
          <%= link_to "Resumen",fiverr_orders_show_path(:order_type=>"PR9_GIG") %><br>
          <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=1&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&order_no=&commit=Filtrar">PR9 Basic</a><br>
          <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=2&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&order_no=&commit=Filtrar">PR9 Standard</a><br>
          <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=3&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&order_no=&commit=Filtrar">PR9 Premium</a><br>

          <!--REFERENTE A TRAFFIC-->
          <h4>GIG TRAFFIC</h4>
          <%= link_to "Resumen",fiverr_orders_show_path(:order_type=>"PR9_TRAFFIC") %><br>
          <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=4&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&order_no=&commit=Filtrar">Traffic Basic</a><br>
          <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=5&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&order_no=&commit=Filtrar">Traffic Standard</a><br>
          <a href="/fiverr_orders?utf8=✓&order_type%5Border_type_id%5D=6&order_status%5Border_status_id%5D=&server%5Bserver_id%5D=&order_no=&commit=Filtrar">Traffic Premium</a><br>

          <!--REFERENTE A ELITE BACKLINKS-->
          <h4>GIG ELITE BACKLINKS</h4>
          <%= link_to "Resumen",fiverr_orders_show_path(:order_type=>"ELITE_BACKLINKS") %><br>

          <!--REFERENTE A NICHE RELEVANT-->
          <h4>GIG NICHE RELEVANT</h4>
          <%= link_to "Resumen",fiverr_orders_show_path(:order_type=>"NICHE_RELEVANT") %><br>

          <!--REFERENTE A ARTICULOS-->
          <h4>ARTICULOS</h4>
          <a href="/articles/new">Nuevo</a><br>
          <a href="#">Resumen</a><br>
          <a href="/articles">Todos</a><br>

          <!--REFERENTE A WRITERS-->
          <!-- <h4>WRITERS</h4>
          <a href="/writers">Todos</a><br>
          <a href="#">Escribiendo</a><br>
          <a href="#">Disponibles</a><br> -->

          <!--REFERENTE A SERVERS-->
          <!-- <h4>SERVERS</h4>
          <a href="#">Todos</a><br>
          <a href="#">Disponibles</a><br>
          <a href="#">Ocupados</a><br> -->
        </div>

        <!--AQUI VA EL CONTENIDO COMO TAL-->
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
